[Desktop Entry]
Name=Tanglu

X-KDE-PluginInfo-Name=tanglu
X-KDE-PluginInfo-Author=Valentin OVD
X-KDE-PluginInfo-Email=vovd.tanglu@gmail.com
X-KDE-PluginInfo-License=CC-BY-3.0
