[Desktop Entry]
Name=Tanglu

X-KDE-PluginInfo-Name=tanglu
X-KDE-PluginInfo-Author=Ink Apnea
X-KDE-PluginInfo-Email=inkapnea@gmail.com
X-KDE-PluginInfo-License=GPL-3
