[KSplash Theme: Tanglu]
Name = CodeTanglu Motion splash screen
Description = Animated KDE logo on a black background (based on CodeKDE KSplash)
Version = 1.1
Author = Codicem
# Theme behaviour settings.
Engine = KSplashQML
