[Desktop Entry]
Name=Tanglu

X-KDE-PluginInfo-Name=tanglu
X-KDE-PluginInfo-Author=GonzoMcGraw
X-KDE-PluginInfo-Email=t.funk@web.de
X-KDE-PluginInfo-License=GPL-3
